/*--- Font is loaded remotely in chronologue/themes/Chronologue/layouts/partials/head.html ---*/

/*--- Header ---*/

header {

}
.main-menu {

}

/*--- Nav ---*/

/*--- Table of Contents (toc) ---*/

/*--- Main content ---*/

/*--- Shortcodes ---*/

.sidenote {
display: inline;
float: right;
position: relative;
width: 20vw;
margin-right: -22vw;
font-size: 16px;
}

/*--- Footer ---*/
footer {
    font-size: smaller;
}
.footer-copyright img {
    height: 40px;
    width: auto;

}
.footer-links {
    
}

/*--- Responsive ---*/