/* assets */ 
@tailwind base;
@tailwind components;
@tailwind utilities;

/*Footer component*/ 

footer a:hover {
    color: #a5b4fc; /*indigo-300*/
}

.debug {
    border: 2px;
    border-color: red;
    border-style: dotted;
}